*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Réinitialisation des styles par défaut du navigateur */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    z-index: 99999999999999999999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.logo .AKWABA {
    max-width: 40px;
    height: auto;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -5px;
}

.logo .AKWABA:hover {
    z-index: 9999;
    transform: scale(5) translateY(10px) translateX(2px);
}

.logo img {
    max-width: 150px;
    height: auto;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 21px;
    padding-bottom: 21px;
}

nav ul li a {
    color: #0f0e0e;
    text-decoration: none;
}
nav ul li:hover{
    background-color: #004C75;
}
nav ul li:hover > a{
    color: #fff;
}
nav ul li:hover > .sub-menu {
    display: block;
    
}

.sub-menu {
    z-index: 9999;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 6px #0000001f;
    min-width: 300px;
    left: 0;
    top: 60px;
    border-radius: 10px;
}

.sub-menu li {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
}

.sub-menu a {
    padding: 10px;
    color: #0f0e0e;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
.search-bar{
    margin-left: 50px;
}

.search-bar input[type="text"] {
    border: 1px solid orangered;
    padding: 8px;
   
    border-radius: 4px;
    width: 120px;
    margin-left: 5px;
    outline: none;
}

.search-bar button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.search-bar button:hover {
    background-color: white;
    color: orangered;
}
.items3{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages{
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(200, 240, 200);
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.messages .messages_inspirant{
    text-align: center;
    background-color: orangered;
    width: 150px;
    padding: 10px 0px;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
}
marquee {
    z-index: 9;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    
}

span {
    display: inline-block;
    padding: 5px;
}

.separator {
    display: inline-block;
    width: 5px;
    height: 100%;
    background-color: orangered;
}

button#scrollToTopBtn {
    text-align: center;
    position: fixed;
    z-index: 999999999999999;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: orangered;
    color: #fff;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.section1{
    height: 100vh;
    background-image: url(images/Slide-de-Bienvenue-Site-CIT-1.jpg);
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.section1 h2{
    color: #ccc;
    z-index: 90;
    position: absolute;
    left: 50%;
    top: 50%;
    
}
